
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Patients</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
    {% csrf_token %}

    <P>Hello {{request.user.username}} {{request.user.id}}</P> &nbsp;&nbsp;
    <button><a href="{% url 'register_patient' %}">Register Patient</a></button>
    &nbsp;&nbsp;
    <button><a href="{% url 'all_patients' %}">Register Patient</a></button>
    <br>
    <h2>Patient Details</h2>


    Patient ID: {{patient.id}}<br>
    Patient Name: {{patient.first_name}} {{patient.last_name}}<br>
    Patient Email: {{patient.email}}<br>
    Patient Phone Number: {{patient.phone_number}}<br>
    Patient Address: {{patient.address}}<br>
    Patient City: {{patient.city}}<br>
    Patient State: {{patient.state}}<br>
    Patient Zip Code: {{patient.zip_code}}<br>
    Patient Country: {{patient.country}}<br>


<h2>My Uploaded Images</h2>

<p>Uploaded on: {{ patient.uploaded_at }}</p>
    {% for profile_picture in patient_detail.images.all %}
    <br>
        <img src="{{ profile_picture.url }}" width="200" height="150">
    {% endfor %}
    <br><br>

    {% for img in images %}
    <img src="{{ img.image.url }}" width="200">
{% endfor %}
<br><br>

<!-- Form to upload more images -->
<form method="POST" enctype="multipart/form-data" action="{% url 'patient_detail' patient.id %}">
    {% csrf_token %}
    <input type="file" name="profile_picture" multiple accept="image/*"><br><br>
    <input type="submit" value="Upload Images">
</form>
</body>
<br><br>

</body>
</html>
