body {
    background-color: lightblue;
    font-family: verdana;
  }

  label
{
    display: block;
    margin: 10px 0;
}

label span
{
    text-align: right;
    width: 100px;
}

p {
  text-decoration: underline;
}
.right {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.left:after {
  float: left;
  width: 50%;
  content: "";
  clear: both;
}