<h2>Pharma Dashboard</h2>
<p>Welcome {{ request.user.username }}!</p>
<h2>Prescriptions</h2>
<table border="1">
    <thead>
    <tr>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Medicine Name</th>
        <th>Quantity</th>
        <th>Prescribed On</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for pharma in pharmacy %}
    <tr>
        <td>{{ pharma.patient.id }}</td>
        <td>{{ pharma.patient.first_name }} {{ pharma.patient.last_name }}</td>
        <td>{{ pharma.medicine_name }}</td>
        <td>{{ pharma.quantity }}</td>
        <td>{{ pharma.prescribed_on }}</td>
        <td>{{ pharma.notes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
