{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    {% csrf_token %}
    <P>Hello {{request.user.username}} {{request.user.id}}</P> &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br>
    <p>Patient Details</p>


    Patient ID: {{patient.id}}<br>
    Patient Name: {{patient.first_name}} {{patient.last_name}}<br>
    Patient Email: {{patient.email}}<br>
    Patient Phone Number: {{patient.phone_number}}<br>
    Patient Address: {{patient.address}}<br>
    Visit Reason: {{patient.visit_reason}}<br>
<br><br>

{% if user.role == 'doctor' %}
<P>Precescriptions</P>
<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <label>
            <span>Name</span>
            <input type="text" required name="name"><br>
    </label>
    <label>
        <span>Formula</span>
        <input type="text" required name="formula">
    </label>
      <label>
        <span>Dose</span>
        <input type="text" required name="dose">
    </label>
      <label>
        <span>Duration</span>
        <input type="text" required name="duration">

    <input class="txt_field" type="submit" value="Submit">
  </form>
{% endif %}
<br><br>

{% if user.role == 'doctor'%}
Patient ID: {{patient.id}}<br>
Patient Name: {{patient.first_name}} {{patient.last_name}}<br>
medical history : {{patient_records.medical_history}}<br>
allergies: {{patient_records.allergies}}<br>
patient_records: {{patient_records.medications}}<br>
{% endif %}


<br><br>
</body>
<br><br>
<a href="{% url 'redirect_to_home' %}" class="btn btn-primary">🏠 Back to Home</a>
<br>
<button><a href="{% url 'logout' %}">Logout</a><br></button>
</body>
</html>
