{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reception</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

<body>
<a href="{% url 'reception_dashboard' %}" class="btn btn-danger mt-3">Home</a>
{% block content %}
<div class="card mx-auto text-center" style="max-width: 400px;">
    <div class="card-body">
        <h3 class="card-title">Welcome, {{request.user.username}}!</h3>
        <br><br>
        <P>Register Patients</P>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <label>
                    <span>Name</span>
                    <input type="text" required name="first_name"><br>
            </label>

            <label>
                <span>Last Name</span>
                <input type="text" required name="last_name">
            </label>

              <label>
                <span>Age</span>
                <input type="text" required name="age">
            </label>

              <label>
                <span>Email</span>
                <input type="text" required name="email">
            </label>

              <label>
                <span>Phone</span>
                <input type="text" required name="phone_number">
            </label>

              <label>
                <span>Address</span>
                <input type="text" name="address">
            </label>

            <label>
                <span>Visit reason</span>
                <input type="text" name="visit_reason">
            </label>

            <input class="txt_field" type="submit" value="Submit">
          </form>
	  <br><br>
        <p>Old patients</p>
        <br>
        <form method="get" action="{% url 'reception_dashboard' %}">
            <input type="text" name="q" placeholder="Search Patient ID" value="{{ request.GET.q }}">
            <button type="submit">Search</button>
          </form>
          
          {% if all_patients %}
            <ul>
              {% for patient in searchpatients %}
                <li>{{ patient.patient_id }} - {{ patient.first_name }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No patients found.</p>
          {% endif %}
          
        <br><br>
        <br><br>
        <P>Registered Patients</P>
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>age</th>
                <th>Registered On</th>
                <th>More Details</th>
              </tr>
            </thead>
            <tbody>
              {% for patient in all_patients %}
                <tr>
                  <td>{{ patient.patient_id }}</td>
                  <td>{{ patient.first_name }}</td>
                  <td>{{ patient.last_name }}</td>
                  <td>{{ patient.age }}</td>
                  <td>{{ patient.registered_at|date:"Y-m-d H:i" }}</td>
                  <td>
                    <a href="{% url 'patient_details' patient.patient_id %}">
                    <button type="button">Details</button></a></tr>
                </tr>
              {% empty %}
                <tr><td colspan="7">No patients registered yet.</td></tr>
                <tr class="collapse" id="details/{{ patient.patient_id }}">
                    <td colspan="5">
                      <div class="card card-body">
                        <p><strong>Phone Number:</strong> {{ patient.phone_number }}</p>
                        <p><strong>Registered On:</strong> {{ patient.created_at|date:"Y-m-d H:i" }}</p>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>

        <br><br>
        <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
    </div>
</div>
{% endblock %}
</body>
