{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
<h4>Patients by Year 2025</h4>
<a href="{% url 'yearly_patients' year=2025 %}">2025 Year Patients</a>
<br><br>
<h4>Patients by Year & Month</h4>
{% for year, months in years_months.items %}
  <h3>{{ year }}</h3>
  <ul>
    {% for m in months %}
      <li>
        <a href="{% url 'monthly_patients' year=year month=m.month %}">
          {{ m.month_name }} {{ year }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<br><br><br>
<h2>Patient Registrations by Month</h2>

<table border="1" cellpadding="8">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Registrations</th>
  </tr>

  {% for row in monthly_data %}
    <tr>
      <td>{{ row.year }}</td>
      <td>
        <a href="{% url 'monthly_patients' year=row.year month=row.month %}">
          {{ row.month_name }}
        </a>
      </td>
      <td>{{ row.total }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="3">No patient data available.</td></tr>
  {% endfor %}
</table>

<br><br>
<!-- <h3>Patients Registered Per Day</h3>
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Total Patients</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in patients_per_day %}
        <tr>
            <td>{{ entry.registration_date }}</td>
            <td>{{ entry.total_patients }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No patient records found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
</body>
<br><br>
<a href="{% url 'redirect_to_home' %}" class="btn btn-primary">🏠 Back to Home</a>
<br>
<button><a href="{% url 'logout' %}">Logout</a><br></button>
</body>
</html>
