{% extends 'base.html' %}
{% block content %}

  <h2 class="text-3xl font-semibold mb-6 text-center">Contact Us</h2>
  <form class="max-w-lg mx-auto bg-white p-6 rounded shadow space-y-4" id="contactForm">
    <input type="text" name="name" placeholder="Your Name" class="w-full border px-3 py-2 rounded" required>
    <input type="email" name="email" placeholder="Your Email" class="w-full border px-3 py-2 rounded" required>
    <textarea name="message" placeholder="Your Message" class="w-full border px-3 py-2 rounded" rows="4" required></textarea>
    <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded">Send Message</button>
    <p id="successMsg" class="text-green-600 hidden mt-2">Message sent successfully!</p>
  </form>
  <br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d814.7748123277497!2d81.77039597742147!3d17.010919232450387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37a59d20386e17%3A0x3f38514ecaa53557!2sDr.Ram&#39;s%20Aura%20Skin%20Clinic!5e0!3m2!1sen!2sus!4v1762583707368!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <br>
    <div class="container mx-auto text-center">
      <p>Address:</p>
      <p>12-21-12, Ground floor, 
        opposite Fire station, Aryapuram, 
        Rajamahendravaram, Andhra Pradesh 533104, India</p>
      <p>Phone: +91 73863 55210</p>
    </div>


</body>
{% endblock content %}
